#target {
    width: 100px;
    height: 100px;
    /* usa il percorso relativo (senza slash iniziale) e adatta l'immagine al box */
    background-image: url("contents/PinkSlime.webp");
    background-size: cover;
    background-position: center;
    position: absolute; /* necessario per posizionare il bersaglio con top/left */
    left: 200px;
    top: 50px;
    }

    #pause {

        width: 60px;
        height: 60px;
        background-color: crimson;
        background-image: url("contents/pause_icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    body{
        background-image: url("contents/rainbow_island.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }